@import "tailwindcss";

* {
    font-family: InterVariable, sans-serif;
}

tr {
    text-align: left; 
}

td {
    border: solid 1px #888;
    padding: 10px;
    min-width: 250px;
}

tr .bedrag {
    text-align: right;
}

input {
    width: 100px;
}